/* HTML Body */
body 
{
	font-family: 'Dosis', sans-serif;
	background-color: #E6E6E6;
}

/* Headings */
h1
{
	font-size: 120px;
	font-family: 'Raleway', sans-serif;
}
h2
{
	color: #66A3FF;
	font-size: 40px;
	font-family: 'Poiret One', cursive;
}

/* Center the text. */
.text {text-align: center;}

/* Set the text color. */
.text {color: #00ACE9;}

/* Set the font size. */
p, input, label {font-size: 25px;}

/* Indent the content. */
p, textarea, #required, #submit {margin-left: 20px;}

/* RSVP Form */
#form 
{
	border-style: solid;
    border-width: 2px;
	border-color: #222222;
}
#submit:hover {background-color: #CCCCCC;}
input, textarea {border-radius: 5px;}
input[type="text"], textarea[type="text"] {font-family: 'Dosis', sans-serif;}

/* Links */
a:link, a:visited
{
	color: #9933FF;
	text-decoration: none;
}

#resume
{
	font-size: 40px;
	color: #FFFFFF;
	background-color: #9933FF;
	padding: 8px 8px 8px 8px;
	border-radius: 10px;
}
#resume:hover
{
	background-color: #6600CC;
}

#up:hover
{
	text-shadow: 1px 1px #FFFFFF;
}

.about
{
	width: 960px;
	height: 636px;
}
.logo
{
	width: 200px;
	height: 200px;
}
.mini_logo
{
	width: 50px;
	height: 50px;
}
.main_pics
{
	width: 400px;
	height: 400px;
}

/* 
----- Tabs -----
*/

/* Style the list. */
ul.tab 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FAF0E6;
}

/* Float the list items side by side. */
ul.tab li {float: left;}

/* Style the links inside the list items. */
ul.tab li a 
{
	display: inline-block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	transition: 0.4s;
}

/* Change background color of links on hover. */
ul.tab li a:hover {background-color: #E0E0EB;}

/* Create an active/current tablink class. */
ul.tab li a:focus, .active {background-color: #D9D9D9;}

/* Style the tab content. */
.tabcontent 
{
	display: none;
	border-top: none;
	padding: 6px 12px;
}